.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.main {

    &__container {
        max-width: 1178px;
        margin: 0 auto;
        padding: 0px 10px 79px;
    }
}

@media screen and (max-width: 580px) {
    .container {
        width: 100%;
        min-width: 320px;

    }


    .main {

        &__container {
            padding: 85px 0px 84px;
        }
    }


}