.button {
    width: 224px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1;
}

.button:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
}

// .btn-hov02:hover {
//     background-color: #0080C1;
// }

// .main__h2:hover::before {
//     border-top: 2px solid #0080C1;
//     border-left: 2px solid #0080C1;
// }